<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>FEDVOSA | Member Profile </title>

    <link rel="stylesheet" href="mystyle.css">
    

</head>
<body>
        <!---Navbar-->
        <input type="checkbox" id="check">
        <nav class="nav_i">
            <div class="icon" style="width: 40px; height: 40px"><img src="images/logo-2.png" alt=""></div>
            <!-- <div class="search_box">
                <input type="search" placeholder="search member">
                <span class="fa fa-search"></span>
            </div> -->
            <ol>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>            
                <li><a href="faq.html">FAQs</a></li>
                <li><a href="contact.html">Contact</a></li>
                <div class="btn_2 li_main"><img src="images/blank-profile-picture.png">
                    <div class="menu">
                        <ul>
                            <li><a href="settings.html">Settings</a></li>
                            <li><a href="signin.html"> Logout</a></li>
                        </ul>
                    </div>
                
                
                </div>
            </ol>
            <label for="check" class="bar">
                <span class="fa fa-bars" id="bars"></span>
                <span class="fa fa-times" id="times"></span>
            </label>
        </nav>

    <!--Head-->
    
    
    <!--Profile Section-->
<section id="profile">
    
    <div class="profile-box">
        <div class="profiles-img">
            <img src="images/president.png">
            <h1>Chivir Nongo</h1>
        </div>
        <div class="profiles">            
            <div class="profiles-desc">
                <div class="profiles-icon"><i class="fas fa-user fa-1x"></i></div>
                <div class="profiles-text">
                    <p>We provide your teh best hair barbing experience, with our neat and sterilized barbing equipments
                        orderly barber shop and well educated baribing staffs </p>
                </div>
            </div>

            <div class="profiles-desc">
                <div class="profiles-icon"><i class="fas fa-briefcase fa-1x"></i></div>
                <div class="profiles-text">
                    <p>Legal Practioner </p>
                </div>
            </div>
            <div class="profiles-desc">
                <div class="profiles-icon"><i class="fas fa-map-marker fa-1x"></i></div>
                <div class="profiles-text">
                    <p>No. 34 Bakori road, Wuse 2 Abuja </p>
                </div>
            </div>
            <div class="profiles-desc">
                <div class="profiles-icon"><i class="fas fa-home fa-1x"></i></div>
                <div class="profiles-text">
                    <p>Abugh House</p>
                </div>
            </div>
            <div class="profiles-desc">
                <div class="profiles-icon"><i class="fas fa-mortar-board fa-1x"></i></div>
                <div class="profiles-text">
                    <p>Set 2020</p>
                </div>
            </div>            
            <div class="profiles-desc">
                <div class="profiles-icon"><i class="fas fa-phone fa-1x"></i></div>
                <div class="profiles-text">
                    <p>080-23455678 </p>
                </div>
            </div>           
            <div class="profiles-desc">
                <div class="profiles-icon"><i class="fas fa-envelope-open fa-1x"></i></div>
                <div class="profiles-text">
                    <p>emailsample@gmail.com </p>
                </div>          
                
                
            </div>
        </div>

    </div>
</section>
    
    
    
    
</body>